<%= simple_form_for(@campaign) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.association :organizer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
