<div class="campaign page row">
  <div class="campaign frame span12">
    <div class="campaign inner row">
      <div class="campaign span9">
        <h1 class="campaign name"><%= @campaign.name %></h1>

        <div class="campaign dates">
          <%= @campaign.start_date.to_s(:friendly) %> - <%= @campaign.start_date.to_s(:friendly) %>
        </div>

        <div class="campaign marquee">
          <div class="campaign photo">
            <!-- placeholder for now -->
            PHOTO PLACEHOLDER
          </div>
          <div class="campaign buttons">
          </div>
        </div>

        <p id="notice"><%= notice %></p>

        <div class="campaign description">
          <h2>About Us</h2>
          <%= @campaign.description %>
        </div>
        <hr />

      </div>
      <div class="campaign sidebar span3">
        <div class="campaign box location">
          <h2>Location</h2>
        </div>
        <div class="campaign box stats">
          <h2>Stats</h2>
        </div>
        <div class="campaign box organizer">
          <h2>Organizer</h2>
        </div>
      </div><!-- end sidebar -->
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_campaign_path(@campaign) %>
